{{ project.name }}
{{ "=" * project.name|length }}

{{ project.description }}

Installation
------------

.. code-block:: bash

   pip install {{ project.name }}

Quick Start
-----------

.. code-block:: python

   import {{ project.package_name }}

.. toctree::
   :maxdepth: 2
   :caption: Contents:
